[submodule "mobile"]
	path = mobile
	url = git@github.com:nathikazad/cannatrols-mobile.git
[submodule "hardware"]
	path = hardware
	url = git@github.com:nathikazad/cannatrols-hardware.git
[submodule "heroku"]
	path = heroku
	url = git@github.com:nathikazad/cannatrols-heroku.git
