[submodule "mobile"]
	path = mobile
	url = git@github.com:nathikazad/cannatrols-mobile.git
[submodule "hardware"]
	path = hardware
	url = git@github.com:nathikazad/cannatrols-hardware.git
[submodule "supabase"]
	path = supabase
	url = git@github.com:nathikazad/cannatrols-supabase.git
